div{
    margin: 5rem;
    >h1{
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    button{
        padding: 0.5rem;
        background-color: grey;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        transition: color 0.3s;
        &:hover{
            background-color: #fff;
            color: #333;


        }
    }
}